{% extends "capstone_application/layout.html" %}

{% block body %}
{% if message %}
    <div id="message"><br>{{message}}</div>
{% endif %}

<div id = "canvas">
    <script src="https://threejs.org/build/three.js"></script>
    <script id="canvas" type="module">
        import {OrbitControls} from 'https://unpkg.com/three@0.119.1/examples/jsm/controls/OrbitControls.js';
        import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.117.1/build/three.module.js'; 
// ***************************************************************************
        // Creating the scene
// ***************************************************************************
        const scene = new THREE.Scene();
      
        const camera = new THREE.PerspectiveCamera(135, window.innerWidth / window.innerHeight, 1, 20000 );
        const renderer = new THREE.WebGLRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight);
        renderer.setPixelRatio(window.devicePixelRatio);

        renderer.autoClear = false;
        renderer.setClearColor(0x00000, 0.0);
        document.body.appendChild(renderer.domElement );

// ***************************************************************************
            //Rendering earth
// ***************************************************************************
const earth = new THREE.SphereGeometry(12.8,100,50);
            const material = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture('static/earthmap4k.jpg'),
                bumpMap: THREE.ImageUtils.loadTexture("static/earthbump4k.jpg"),
                bumpScale: 10,
            });

            const sphere = new THREE.Mesh(earth, material);
            // sphere.rotateX(1.5);
            scene.add(sphere);

            const pointerlight = new THREE.PointLight(0xffffff, 0.0);

            pointerlight.position.set(10,10,30);
            scene.add(pointerlight);

            const cloudgeometry = new THREE.SphereGeometry(12.9,100,32);
            
            const cloudmaterial = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture("static/earthCloud.png"),
                transparent: true,
            });
            const cloudmesh = new THREE.Mesh(cloudgeometry,cloudmaterial);
            scene.add(cloudmesh);

            const earth_group = new THREE.Group();
            earth_group.add(cloudmesh);
            earth_group.add(sphere);
            earth_group.add(pointerlight);
            earth_group.add(camera);
            camera.position.set(20,0,0)
            scene.add(earth_group);
            earth_group.position.set(2000,0,0)

            // Earth Axis for rotation around sun
            const earth_plane = new THREE.CircleGeometry(10,1)
            const plane_color = new THREE.MeshBasicMaterial({color: 'black', wireframe: true});
            const earth_circle = new THREE.Mesh(earth_plane,plane_color);
            scene.add(earth_circle);

            const earth_group_rotation = new THREE.Group();
            earth_group_rotation.add(earth_group);
            earth_group_rotation.add(earth_circle);

            scene.add(earth_group_rotation);

// ***************************************************************************
      //Rendering Sun
// ***************************************************************************
const sun = new THREE.SphereGeometry(1000,32,32);
        const sun_material = new THREE.MeshPhongMaterial({
            map: THREE.ImageUtils.loadTexture("static/sun8k.jpg"),
        });

        const sun_sphere = new THREE.Mesh(sun, sun_material);
        sun_sphere.rotateX(1.5708)
        scene.add(sun_sphere);

        const sun_pointerlight = new THREE.PointLight({
            color:'white'});
        sun_pointerlight.position.set(50,0,0);
        scene.add(sun_pointerlight);

        //Sun Axis for rotation around sun
        const sun_plane = new THREE.CircleGeometry(10,10)
        const sun_plane_color = new THREE.MeshBasicMaterial({
            color: 'yellow', 
            wireframe: true
        });
        const sun_circle = new THREE.Mesh(sun_plane,sun_plane_color);
        scene.add(sun_circle);
// ***************************************************************************
        // Animate the Solar System
// ***************************************************************************

        
const amb_light = new THREE.AmbientLight(0xffffff, 1);
        scene.add(amb_light);
        const controls = new OrbitControls(camera,renderer.domElement)
        function animate() {
            requestAnimationFrame(animate);
            renderer.render( scene, camera );
            
            sphere.rotation.y += 0.001;
            cloudmesh.rotation.y += 0.0015;
            earth_group_rotation.rotation.y += 0.001;
            
            // cam_group.rotation.z += 0.01;
            
            sun_sphere.rotation.z -= .0001;
            // sun_circle.rotation.x += .00001;
            
            controls.update();
        }
        animate();
    </script>
</div> <!-- end of div canvas -->
{% endblock%}