{% extends "capstone_application/layout.html" %}

{% block body %}
{% if message %}
    <div id="message"><br>{{message}}</div>
{% endif %}

<div id = "canvas">
    <script src="https://threejs.org/build/three.js"></script>
    <script id="canvas" type="module">
        import {OrbitControls} from 'https://unpkg.com/three@0.119.1/examples/jsm/controls/OrbitControls.js';
        import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.117.1/build/three.module.js'; 
// ***************************************************************************
        // Creating the scene
// ***************************************************************************
        const scene = new THREE.Scene();
      
        const camera = new THREE.PerspectiveCamera(40, window.innerWidth / window.innerHeight, 1, 20000 );
        const renderer = new THREE.WebGLRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight);
        renderer.setPixelRatio(window.devicePixelRatio);

        renderer.autoClear = false;
        renderer.setClearColor(0x00000, 0.0);
        document.body.appendChild(renderer.domElement );
// ***************************************************************************
            //Rendering Jupiter
// ***************************************************************************
const jupiter = new THREE.SphereGeometry(143,100,32);
            const jupiter_material = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture('static/jupiter.jpg'),
            });

            const jupiter_sphere = new THREE.Mesh(jupiter, jupiter_material);
            // jupiter_sphere.rotateX(1.5);
            scene.add(jupiter);

            const jupiter_pointerlight = new THREE.PointLight(0xffffff, 0.0);

            jupiter_pointerlight.position.set(10,10,30);
            scene.add(jupiter_pointerlight);

            const jupiter_cloudgeometry = new THREE.SphereGeometry(10.1,32,16);
            
            const jupiter_cloudmaterial = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture("static/earthCloud.png"),
                transparent: true,
            });
            const jupiter_cloudmesh = new THREE.Mesh(jupiter_cloudgeometry,jupiter_cloudmaterial);
            scene.add(jupiter_cloudmesh);

            const jupiter_group = new THREE.Group();
            jupiter_group.add(jupiter_cloudmesh);
            jupiter_group.add(jupiter_sphere);
            jupiter_group.add(jupiter_pointerlight);
            jupiter_group.add(camera);
            camera.position.set(700,0,0);
            scene.add(jupiter_group);
            jupiter_group.position.set(6200,0,0)

            // Earth Axis for rotation around sun
            const jupiter_plane = new THREE.CircleGeometry(10,1)
            const jupiter_plane_color = new THREE.MeshBasicMaterial({
                color: 'black', 
                wireframe: true,
            });
            const jupiter_circle = new THREE.Mesh(jupiter_plane,jupiter_plane_color);
            scene.add(jupiter_circle);

            const jupiter_group_rotation = new THREE.Group();
            jupiter_group_rotation.add(jupiter_group);
            jupiter_group_rotation.add(jupiter_circle);
            scene.add(jupiter_group_rotation);

// ***************************************************************************
      //Rendering Sun
// ***************************************************************************
const sun = new THREE.SphereGeometry(1000,32,16);
        const sun_material = new THREE.MeshPhongMaterial({
            map: THREE.ImageUtils.loadTexture("static/sun8k.jpg"),
        });

        const sun_sphere = new THREE.Mesh(sun, sun_material);
        sun_sphere.rotateX(1.5708)
        scene.add(sun_sphere);

        const sun_pointerlight = new THREE.PointLight({
            color:'white'});
        sun_pointerlight.position.set(50,0,0);
        scene.add(sun_pointerlight);

        //Sun Axis for rotation around sun
        const sun_plane = new THREE.CircleGeometry(10,10)
        const sun_plane_color = new THREE.MeshBasicMaterial({
            color: 'yellow', 
            wireframe: true
        });
        const sun_circle = new THREE.Mesh(sun_plane,sun_plane_color);
        scene.add(sun_circle);
// ***************************************************************************
        // Animate the Solar System
// ***************************************************************************

        
const amb_light = new THREE.AmbientLight(0xffffff, 1);
        scene.add(amb_light);
        const controls = new OrbitControls(camera,renderer.domElement)
        function animate() {
            requestAnimationFrame(animate);
            renderer.render( scene, camera );
            
            jupiter_sphere.rotation.y += 0.001;
            jupiter_group_rotation.rotation.y += 0.001;
            
            // cam_group.rotation.z += 0.01;
            
            sun_sphere.rotation.z -= .0001;
            // sun_circle.rotation.x += .00001;
            
            controls.update();
        }
        animate();
    </script>
</div> <!-- end of div canvas -->
{% endblock%}