<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
{% block body %}
    {% if message %}

        <div>{{ message }}</div>

    {% endif %}
    
    {% if flag == 1 %}

    <h1> Logged in. </h1>
        {% if message %}

            <div>{{ message }}</div>

        {% endif %}

    {% else %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text", name="username", placeholder="Username">
        <input type="password", name="password", placeholder="Password">
        <input type="submit", value="Login">
    </form>

    {% endif %}
    <h1>Register</h1>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text", name="username", placeholder="Username">
        <input type="password", name="password", placeholder="Password">
        <input type="text", name="name", placeholder="Name">
        <input type="submit", value="Register">
    </form>


{% endblock %}
</body>
</html>
