{% extends "capstone_application/layout.html" %}
{%block body%}
{% if message %}
    <div>{{message}}</div>
{% endif %}
<h1>Lost</h1>

<div class="cover">cover division</div>

<div class = "lost-form" >
    <h2>Lost Pet Form</h2>
    <div class="lost-form-image-upload">
        <form action="{% url 'lost' %}" method="post">
            {% csrf_token %}
            Image: <input type="file", name="Image", id="petImage"><br><br>
            </div>
    <div class="lost-form-fillout">
            Name: <input  type="text", name="name", placeholder="Name"><br><br>
            Location: <input type="text", name="location", placeholder="Location"><br><br>
            Username: <input type="text", name="username", placeholder="Username"><br><br>
            Password: <input type="text", name="password", placeholder="Password"><br><br>
            <input type="submit", value="Submit as lost">
            </div>
        </form>
</div>

{% endblock %}