{% extends "capstone_application/layout.html" %}

{% block body %}
{% if message %}
    <div id="message"><br>{{message}}</div>
{% endif %}

<div id = "canvas">
    <script src="https://threejs.org/build/three.js"></script>
    <script id="canvas" type="module">
        import {OrbitControls} from 'https://unpkg.com/three@0.119.1/examples/jsm/controls/OrbitControls.js';
        import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.117.1/build/three.module.js'; 
// ***************************************************************************
        // Creating the scene
// ***************************************************************************
        const scene = new THREE.Scene();
      
        const camera = new THREE.PerspectiveCamera(40, window.innerWidth / window.innerHeight, 1, 20000 );
        const renderer = new THREE.WebGLRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight);
        renderer.setPixelRatio(window.devicePixelRatio);

        renderer.autoClear = false;
        renderer.setClearColor(0x00000, 0.0);
        document.body.appendChild(renderer.domElement );

        
// ***************************************************************************
            //Rendering Mars
// ***************************************************************************
const mars = new THREE.SphereGeometry(6.8,32,32);
            const mars_material = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture('static/mars.jpg'),
                bumpMap: THREE.ImageUtils.loadTexture("static/marsbump1k.jpg"),
                bumpScale: 10,
            });

            const mars_sphere = new THREE.Mesh(mars, mars_material);
            // mars_sphere.rotateZ(1.5);
            scene.add(mars_sphere);

            const mars_pointerlight = new THREE.PointLight(0xffffff, 0.0);

            mars_pointerlight.position.set(10,10,30);
            scene.add(mars_pointerlight);

            const mars_cloudgeometry = new THREE.SphereGeometry(.51,32,16);
            
            const mars_cloudmaterial = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture("static/earthCloud.png"),
                transparent: true,
            });
            const mars_cloudmesh = new THREE.Mesh(mars_cloudgeometry,mars_cloudmaterial);
            scene.add(mars_cloudmesh);

            const mars_group = new THREE.Group();
            mars_group.add(mars_cloudmesh);
            mars_group.add(mars_sphere);
            mars_group.add(mars_pointerlight);
            mars_group.add(camera);
            camera.position.set(20,0,0)
            scene.add(mars_group);
            mars_group.position.set(2500,0,0)

            // Mar Axis for rotation around sun
            const mars_plane = new THREE.CircleGeometry(10,1)
            const mars_plane_color = new THREE.MeshBasicMaterial({
                color: 'black', 
                wireframe: true
            });
            const mars_circle = new THREE.Mesh(mars_plane,mars_plane_color);
            // earth_circle.attach(sphere)
            scene.add(mars_circle);

            const mars_group_rotation = new THREE.Group();
            mars_group_rotation.add(mars_group);
            mars_group_rotation.add(mars_circle);

            scene.add(mars_group_rotation);

// ***************************************************************************
      //Rendering Sun
// ***************************************************************************
const sun = new THREE.SphereGeometry(1000,32,16);
        const sun_material = new THREE.MeshPhongMaterial({
            map: THREE.ImageUtils.loadTexture("static/sun8k.jpg"),
        });

        const sun_sphere = new THREE.Mesh(sun, sun_material);
        sun_sphere.rotateX(1.5708)
        scene.add(sun_sphere);

        const sun_pointerlight = new THREE.PointLight({
            color:'white'});
        sun_pointerlight.position.set(50,0,0);
        scene.add(sun_pointerlight);

        //Sun Axis for rotation around sun
        const sun_plane = new THREE.CircleGeometry(10,10)
        const sun_plane_color = new THREE.MeshBasicMaterial({
            color: 'yellow', 
            wireframe: true
        });
        const sun_circle = new THREE.Mesh(sun_plane,sun_plane_color);
        scene.add(sun_circle);
// ***************************************************************************
        // Animate the Solar System
// ***************************************************************************

        
        const amb_light = new THREE.AmbientLight(0xffffff, 1);
        scene.add(amb_light);
        const controls = new OrbitControls(camera,renderer.domElement)
        function animate() {
            requestAnimationFrame(animate);
            renderer.render( scene, camera );
            
            mars_sphere.rotation.y += 0.001;
            mars_group_rotation.rotation.y += 0.001;
            
            // cam_group.rotation.z += 0.01;
            
            sun_sphere.rotation.z -= .0001;
            // sun_circle.rotation.x += .00001;
            
            controls.update();
        }
        animate();
    </script>
</div> <!-- end of div canvas -->
{% endblock%}