{% extends "capstone_application/layout.html" %}

{% block body %}
{% if message %}
    <div id="message"><br>{{message}}</div>
{% endif %}

<div id = "description-mercury">
    <!-- <h1>Ερμής</h1>
    <p>Mercury is the closest planet to the sun in our solar system.
    It rotates the fastest and has no moons.
    It's rough yet small.
Filler,FillerFillerFillerFillerFiller
Filler,FillerFillerFillerFillerFiller
Filler,FillerFillerFillerFillerFiller
Filler,FillerFillerFillerFillerFiller
Filler,FillerFillerFillerFillerFiller
Filler,FillerFillerFillerFillerFiller</p> -->

</div>

<div id = "canvas">
    <script src="https://threejs.org/build/three.js"></script>
    <script id="canvas" type="module">
        import {OrbitControls} from 'https://unpkg.com/three@0.119.1/examples/jsm/controls/OrbitControls.js';
        import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.117.1/build/three.module.js'; 
// ***************************************************************************
        // Creating the scene
// ***************************************************************************
        const scene = new THREE.Scene();
      
        const camera = new THREE.PerspectiveCamera(135, window.innerWidth / window.innerHeight, 1, 20000 );
        const renderer = new THREE.WebGLRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight);
        renderer.setPixelRatio(window.devicePixelRatio);

        renderer.autoClear = false;
        renderer.setClearColor(0x00000, 0.0);
        document.body.appendChild(renderer.domElement );
// ***************************************************************************
        // Rendering Mercury
// ***************************************************************************
const mercury = new THREE.SphereGeometry(4.9,100,32);
        const mercury_material = new THREE.MeshPhongMaterial({
            map: THREE.ImageUtils.loadTexture('static/Mercury.jpg'),
        });

        const mercury_sphere = new THREE.Mesh(mercury, mercury_material);
        mercury_sphere.rotateY(1.5);
        scene.add(mercury_sphere);

        const mercury_pointerlight = new THREE.PointLight(0xffffff, 0.0);
        mercury_pointerlight.position.set(10,10,30);
        scene.add(mercury_pointerlight);

        const mercury_cloudgeometry = new THREE.SphereGeometry(.5,32,16);
        const mercury_cloudmaterial = new THREE.MeshPhongMaterial({
            map: THREE.ImageUtils.loadTexture("static/earthCloud.png"),
            transparent: true,
        });
        const mercury_cloudmesh = new THREE.Mesh(mercury_cloudgeometry,mercury_cloudmaterial);
        scene.add(mercury_cloudmesh);

        const mercury_group = new THREE.Group();
        mercury_group.add(mercury_cloudmesh);
        mercury_group.add(mercury_sphere);
        mercury_group.add(mercury_pointerlight);
        mercury_group.add(camera);
        camera.position.set(6.5,0,0)
        scene.add(mercury_group);
        mercury_group.position.set(1400,0,0)

        // Mercury Axis for rotation around sun
        const mercury_plane = new THREE.CircleGeometry(10,1)
        const mercury_plane_color = new THREE.MeshBasicMaterial({
            color: 'black', 
            wireframe: true,
        });
        const mercury_circle = new THREE.Mesh(mercury_plane,mercury_plane_color);
        scene.add(mercury_circle);

        const mercury_group_rotation = new THREE.Group();
        mercury_group_rotation.add(mercury_group);
        // mercury_group_rotation.add(camera);
        mercury_group_rotation.add(mercury_circle);

        // const cam_group = new THREE.Group();
        // cam_group.add(camera);
        // cam_group.position.set(1450,0,0)

        scene.add(mercury_group_rotation);

// ***************************************************************************
      //Rendering Sun
// ***************************************************************************
const sun = new THREE.SphereGeometry(1000,100,32);
        const sun_material = new THREE.MeshPhongMaterial({
            map: THREE.ImageUtils.loadTexture("static/sun8k.jpg"),
        });

        const sun_sphere = new THREE.Mesh(sun, sun_material);
        sun_sphere.rotateX(1.5708)
        scene.add(sun_sphere);

        const sun_pointerlight = new THREE.PointLight({
            color:'white'});
        sun_pointerlight.position.set(50,0,0);
        scene.add(sun_pointerlight);

        //Sun Axis for rotation around sun
        const sun_plane = new THREE.CircleGeometry(10,10)
        const sun_plane_color = new THREE.MeshBasicMaterial({
            color: 'yellow', 
            wireframe: true
        });
        const sun_circle = new THREE.Mesh(sun_plane,sun_plane_color);
        scene.add(sun_circle);
// ***************************************************************************
        // Animate the Solar System
// ***************************************************************************

        
        const amb_light = new THREE.AmbientLight(0xffffff, 1);
        scene.add(amb_light);
        const controls = new OrbitControls(camera,renderer.domElement)
        function animate() {
            requestAnimationFrame(animate);
            renderer.render( scene, camera );
            
            mercury_sphere.rotation.y += 0.001;
            mercury_group_rotation.rotation.y += 0.001;
            
            // cam_group.rotation.z += 0.01;
            
            sun_sphere.rotation.z -= .0001;
            // sun_circle.rotation.x += .00001;
            
            controls.update();
        }
        animate();
    </script>
</div> <!-- end of div canvas -->
</div>
{% endblock%}