{% extends "capstone_application/layout.html" %}

{% block body %}
{% if message %}
    <div id="message"><br>{{message}}</div>
{% endif %}

    <div id = "canvas">
        <script src="https://threejs.org/build/three.js"></script>
        <script id="canvas" type="module">
            import {OrbitControls} from 'https://unpkg.com/three@0.119.1/examples/jsm/controls/OrbitControls.js';
            import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.117.1/build/three.module.js'; 
    // ***************************************************************************
            // Creating the scene
    // ***************************************************************************
            const scene = new THREE.Scene();
          
            const camera = new THREE.PerspectiveCamera(135, window.innerWidth / window.innerHeight, 1, 20000 );
            const renderer = new THREE.WebGLRenderer();
            renderer.setSize( window.innerWidth, window.innerHeight);
            renderer.setPixelRatio(window.devicePixelRatio);
    
            renderer.autoClear = false;
            renderer.setClearColor(0x00000, 0.0);
            document.body.appendChild(renderer.domElement );
// ***************************************************************************
            //Rendering Neptune
// ***************************************************************************
const neptune = new THREE.SphereGeometry(49,100,32);
            const neptune_material = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture('static/neptune.jpg'),
            });

            const neptune_sphere = new THREE.Mesh(neptune, neptune_material);
            // neptune_sphere.rotateX(1.5);
            scene.add(neptune);

            const neptune_pointerlight = new THREE.PointLight(0xffffff, 0.0);
            neptune_pointerlight.position.set(250,0,30);
            scene.add(neptune_pointerlight);

            const neptune_cloudgeometry = new THREE.SphereGeometry(5.1,32,16);
            
            const neptune_cloudmaterial = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture("static/earthCloud.png"),
                transparent: true,
            });
            const neptune_cloudmesh = new THREE.Mesh(neptune_cloudgeometry,neptune_cloudmaterial);
            scene.add(neptune_cloudmesh);

            const neptune_group = new THREE.Group();
            neptune_group.add(neptune_cloudmesh);
            neptune_group.add(neptune_sphere);
            neptune_group.add(neptune_pointerlight);
            neptune_group.add(camera);
            camera.position.set(-105,0,0);
            scene.add(neptune_group);
            neptune_group.position.set(-13000,0,0)

            // uranus Axis for rotation around sun
            const neptune_plane = new THREE.CircleGeometry(10,1)
            const neptune_plane_color = new THREE.MeshBasicMaterial({
                color: 'white', 
                wireframe: true,
            });
            const neptune_circle = new THREE.Mesh(neptune_plane,neptune_plane_color);
            scene.add(neptune_circle);

            const neptune_group_rotation = new THREE.Group();
            neptune_group_rotation.add(neptune_group);
            neptune_group_rotation.add(neptune_circle);

            scene.add(neptune_group_rotation);
    
    // ***************************************************************************
          //Rendering Sun
    // ***************************************************************************
    const sun = new THREE.SphereGeometry(1000,32,16);
        const sun_material = new THREE.MeshPhongMaterial({
            map: THREE.ImageUtils.loadTexture("static/sun8k.jpg"),
        });

        const sun_sphere = new THREE.Mesh(sun, sun_material);
        // sun_sphere.rotateX(1.5708)
        scene.add(sun_sphere);

        const sun_pointerlight = new THREE.PointLight({
            color:'white'});
        sun_pointerlight.position.set(50,0,0);
        scene.add(sun_pointerlight);

        //Sun Axis for rotation around sun
        const sun_plane = new THREE.CircleGeometry(10,10)
        const sun_plane_color = new THREE.MeshBasicMaterial({
            color: 'yellow', 
            wireframe: true
        });
        const sun_circle = new THREE.Mesh(sun_plane,sun_plane_color);
        scene.add(sun_circle);
    // ***************************************************************************
            // Animate the Solar System
    // ***************************************************************************
    
            
        const amb_light = new THREE.AmbientLight(0xffffff, 1);
        scene.add(amb_light);
        const controls = new OrbitControls(camera,renderer.domElement)
        function animate() {
            requestAnimationFrame(animate);
            renderer.render( scene, camera );
            
            neptune_sphere.rotation.y += 0.001;
            neptune_group_rotation.rotation.y += 0.001;
            
            // cam_group.rotation.z += 0.01;
            
            sun_sphere.rotation.z -= .0001;
            // sun_circle.rotation.x += .00001;
            
            controls.update();
            }
            animate();
        </script>
    </div> <!-- end of div canvas -->
</div>
{% endblock%}