{% extends "capstone_application/layout.html" %}

{% block body %}

<div class="register-box">
    <h1>Register</h1>
        {% if message %}
        <div>{{message}}</div>
        {% endif %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="name", name="Name", placeholder="Name"><br><br>
        <input type="location", name="location", placeholder="location"><br><br>
        <input type="username", name="username", placeholder="username"><br><br>
        <input type="password", name="password", placeholder="password"><br>
        <input type="submit", value="Register">
    </form>

</div>


{% endblock %}