{% extends "capstone_application/layout.html" %}

{% block body %}
{% if message %}
    <div id="message"><br>{{message}}</div>
{% endif %}

<div id = "canvas">
    <script src="https://threejs.org/build/three.js"></script>
    <script id="canvas" type="module">
        import {OrbitControls} from 'https://unpkg.com/three@0.119.1/examples/jsm/controls/OrbitControls.js';
        import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.117.1/build/three.module.js'; 
// ***************************************************************************
        // Creating the scene
// ***************************************************************************
        const scene = new THREE.Scene();
      
        const camera = new THREE.PerspectiveCamera(30, window.innerWidth / window.innerHeight, 1, 20000 );
        const renderer = new THREE.WebGLRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight);
        renderer.setPixelRatio(window.devicePixelRatio);

        renderer.autoClear = false;
        renderer.setClearColor(0x00000, 0.0);
        document.body.appendChild(renderer.domElement );
// ***************************************************************************
            //Rendering Saturn
// ***************************************************************************
const saturn = new THREE.SphereGeometry(120,32,16);
            const saturn_material = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture('static/saturn.jpg'),
            });

            const saturn_sphere = new THREE.Mesh(saturn, saturn_material);
            // saturn_sphere.rotateX(1.5);

            scene.add(saturn);

            const saturn_pointerlight = new THREE.PointLight(0xffffff, 0.0);
            saturn_pointerlight.position.set(250,0,30);
            scene.add(saturn_pointerlight);

            const saturn_cloudgeometry = new THREE.SphereGeometry(5.1,32,16);
            
            const saturn_cloudmaterial = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture("static/earthCloud.png"),
                transparent: true,
            });
            const saturn_cloudmesh = new THREE.Mesh(saturn_cloudgeometry,saturn_cloudmaterial);
            scene.add(saturn_cloudmesh);

            const saturn_group = new THREE.Group();
            saturn_group.add(saturn_cloudmesh);
            saturn_group.add(saturn_sphere);
            saturn_group.add(saturn_pointerlight);
            saturn_group.add(camera);
            camera.position.set(500,0,0);
            scene.add(saturn_group);
            saturn_group.position.set(9500,0,0)

            // Adding saturns rings
            const rings = new THREE.CircleGeometry(305,30);
            const rings_material = new THREE.MeshPhongMaterial({
                color:"white",
                map: THREE.ImageUtils.loadTexture('static/rings.jpg'),
                transparent: 0.9,
            
            })
            const circle_rings = new THREE.Mesh(rings,rings_material);
            circle_rings.position.set(9500,0,0)
            circle_rings.rotateX(1.5);
            circle_rings.rotateY(0.05);
            scene.add(circle_rings);

            // Earth Axis for rotation around sun
            const saturn_plane = new THREE.CircleGeometry(10,1)
            const saturn_plane_color = new THREE.MeshBasicMaterial({
                color: 'white', 
                wireframe: true,
            });
            const saturn_circle = new THREE.Mesh(saturn_plane,saturn_plane_color);
            scene.add(saturn_circle);

            const saturn_group_rotation = new THREE.Group();
            saturn_group_rotation.add(saturn_group);
            saturn_group_rotation.add(circle_rings);
            saturn_group_rotation.add(saturn_circle);

            scene.add(saturn_group_rotation);

// ***************************************************************************
      //Rendering Sun
// ***************************************************************************
const sun = new THREE.SphereGeometry(1000,32,32);
        const sun_material = new THREE.MeshPhongMaterial({
            map: THREE.ImageUtils.loadTexture("static/sun8k.jpg"),
        });

        const sun_sphere = new THREE.Mesh(sun, sun_material);
        sun_sphere.rotateX(1.5708)
        scene.add(sun_sphere);

        const sun_pointerlight = new THREE.PointLight({
            color:'white'});
        sun_pointerlight.position.set(50,0,0);
        scene.add(sun_pointerlight);

        //Sun Axis for rotation around sun
        const sun_plane = new THREE.CircleGeometry(10,10)
        const sun_plane_color = new THREE.MeshBasicMaterial({
            color: 'yellow', 
            wireframe: true
        });
        const sun_circle = new THREE.Mesh(sun_plane,sun_plane_color);
        scene.add(sun_circle);
// ***************************************************************************
        // Animate the Solar System
// ***************************************************************************

        
const amb_light = new THREE.AmbientLight(0xffffff, 1);
        scene.add(amb_light);
        const controls = new OrbitControls(camera,renderer.domElement)
        function animate() {
            requestAnimationFrame(animate);
            renderer.render( scene, camera );
            
            circle_rings.rotation.z -= 0.01;
            saturn_sphere.rotation.y += 0.001;
            saturn_group_rotation.rotation.y += 0.001;
            
            // cam_group.rotation.z += 0.01;
            
            sun_sphere.rotation.z -= .0001;
            // sun_circle.rotation.x += .00001;
            
            controls.update();
        }
        animate();
    </script>
</div> <!-- end of div canvas -->
{% endblock%}