{% extends "capstone_application/layout.html" %}

{% block body %}
{% if message %}
    <div id="message"><br>{{message}}</div>
{% endif %}


    <div id = "canvas">
        <script src="https://threejs.org/build/three.js"></script>
        <script id="canvas" type="module">
            import {OrbitControls} from 'https://unpkg.com/three@0.119.1/examples/jsm/controls/OrbitControls.js';
            import * as THREE from 'https://cdn.jsdelivr.net/npm/three@0.117.1/build/three.module.js'; 
    // ***************************************************************************
            // Creating the scene
    // ***************************************************************************
            const scene = new THREE.Scene();
          
            const camera = new THREE.PerspectiveCamera(40, window.innerWidth / window.innerHeight, 1, 20000 );
            const renderer = new THREE.WebGLRenderer();
            renderer.setSize( window.innerWidth, window.innerHeight);
            renderer.setPixelRatio(window.devicePixelRatio);
    
            renderer.autoClear = false;
            renderer.setClearColor(0x00000, 0.0);
            document.body.appendChild(renderer.domElement );
// ***************************************************************************
            //Rendering Venus
// ***************************************************************************
const venus = new THREE.SphereGeometry(12.1,32,32);
            const venus_material = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture('static/venus.jpg'),
                bumpMap: THREE.ImageUtils.loadTexture("static/venusbump.jpg"),
                bumpScale: 3,
            });

            const venus_sphere = new THREE.Mesh(venus, venus_material);
            venus_sphere.rotateX(1.5);
            scene.add(venus_sphere);

            const venus_pointerlight = new THREE.PointLight(0xffffff, 0.0);

            venus_pointerlight.position.set(10,10,30);
            scene.add(venus_pointerlight);

            const venus_cloudgeometry = new THREE.SphereGeometry(.88,32,16);
            
            const venus_cloudmaterial = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture("static/earthCloud.png"),
                transparent: true,
            });
            const venus_cloudmesh = new THREE.Mesh(venus_cloudgeometry,venus_cloudmaterial);
            scene.add(venus_cloudmesh);

            const venus_group = new THREE.Group();
            venus_group.add(venus_cloudmesh);
            venus_group.add(venus_sphere);
            venus_group.add(venus_pointerlight);
            venus_group.add(camera);
            camera.position.set(40,0,0)
            scene.add(venus_group);
            venus_group.position.set(1700,0,0)

            // Venus Axis for rotation around sun
            const venus_plane = new THREE.CircleGeometry(10,1)
            const venus_plane_color = new THREE.MeshBasicMaterial({
                color: 'black', 
                wireframe: true,
            });
            const venus_circle = new THREE.Mesh(venus_plane,venus_plane_color);
            scene.add(venus_circle);

            const venus_group_rotation = new THREE.Group();
            venus_group_rotation.add(venus_group);
            venus_group_rotation.add(venus_circle);

            scene.add(venus_group_rotation);
    // ***************************************************************************
          //Rendering Sun
    // ***************************************************************************
    const sun = new THREE.SphereGeometry(1000,32,32);
            const sun_material = new THREE.MeshPhongMaterial({
                map: THREE.ImageUtils.loadTexture("static/sun8k.jpg"),
            });
    
            const sun_sphere = new THREE.Mesh(sun, sun_material);
            sun_sphere.rotateX(1.5708)
            scene.add(sun_sphere);
    
            const sun_pointerlight = new THREE.PointLight({
                color:'white'});
            sun_pointerlight.position.set(50,0,0);
            scene.add(sun_pointerlight);
    
            //Sun Axis for rotation around sun
            const sun_plane = new THREE.CircleGeometry(10,10)
            const sun_plane_color = new THREE.MeshBasicMaterial({
                color: 'yellow', 
                wireframe: true
            });
            const sun_circle = new THREE.Mesh(sun_plane,sun_plane_color);
            scene.add(sun_circle);
    // ***************************************************************************
            // Animate the Solar System
    // ***************************************************************************
    
            
            const amb_light = new THREE.AmbientLight(0xffffff, 1);
            scene.add(amb_light);
            const controls = new OrbitControls(camera,renderer.domElement)
            function animate() {
                requestAnimationFrame(animate);
                renderer.render( scene, camera );
    
                venus_sphere.rotation.z -= 0.001;
                venus_group_rotation.rotation.z += 0.00;
    
                sun_sphere.rotation.z -= .0001;
                // sun_circle.rotation.x += .001;
                
                controls.update();
            }
            animate();
        </script>
    </div> <!-- end of div canvas -->
{% endblock%}